@font-face {
  font-family: 'code new roman';
  src:
    url('/path-to-font/code-new-roman.woff2') format('woff2'),
    url('/path-to-font/code-new-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
